form action="/days/new" method="post"
    input type="text" name="dag" placeholder="Datum på dag?"
    input type="text" name="team_id" placeholder="Id för team?"
    input type="submit" value="Lägg till dag"